{% extends 'base.html.twig' %}

{% block system %}   
    {% if user %}
        <input type="hidden" id="token" value="{{ token }}" />
        <input type="hidden" id="user" value="{{ user.username }}" />
    {% endif %}
{% endblock %}

{% block leftcol %}
    {% if user %}
        <div id="selfContainer">
            <div id="self" class="card avatar avatarshadow">
                <img src="{{user_folder}}{{user.file}}?dummy={{random(999)}}" />
                <div class="peopleinfo">
                    {{user.username}}: {{user.speak}}
                </div>
            </div>
        </div>
        <div id="stats" class="">     
             <div id="life"><label>life:</label><span class="value">{{ user.life }}</span></div>
            <div class="mainonly">
               
                <div id="score"><label>score:</label><span class="value">{{ user.score }} </span></div>
                <div id="level"><label>level:</label><span class="value">{{ user.level }}</span></div>            
                <div id="money"><label>money:</label><span class="value">{{ user.money }}</span> € </div>
            </div>
            <!--<h2>Constitution</h2>
            <div id="kama" class="karma ikar ic2"><span class="value">{{ user.karma }}</span></div>
            <div id="sex" class="sex isex ic2"><span class="value">{{ user.sex }}</span></div>            
            <div id="sanity" class="sanity isan ic2"><span class="value">{{ user.sanity }}</span></div> -->
            <div class="duelstuff">
                <div class="attack"><h2>ATTACK</h2>
                    <div id="akarma" class="karma ikar ic2"></div>
                    <div id="asex" class="sex isex ic2"></div>
                    <div id="asanity" class="sanity isan ic2"></div>
                </div>
                <div class="attack"><h2>DEFENSE</h2>
                    <div id="dkarma" class="karma ikar ic2"></div>
                    <div id="dsex" class="sex isex ic2"></div>
                    <div id="dsanity" class="sanity isan ic2"></div>
                </div>
            </div>
            <div class="mainonly">
                <br/><a href="{{ path('edit_user',{'user':user.id}) }}" class="fullload">editer mon personnage</a>
                <br/><a href="#card" class="cardmanage command" data-command="getmycards" data-value="1">gérer mes cartes</a>
                <br/><a href="#card" class="cardmanage command" data-command="mycreatures" data-value="1">gérer mes créatures</a>
            </div>
        </div>  

        <div class="duelmode tiragecontainer">
            <div id="reload" class="card command" data-command="takeCard">
                Tirer une carte
            </div>
            <div id="skipturn" class="command" data-command="skipTurn">
                Passer le tour
            </div>
        </div>

    {% endif %}
{% endblock %}



{% block centralcol %}
    {% if user == null %}
        {{ render(controller("FOSUserBundle:Security:login")) }}
    {% endif %}
    {% if user %}
        <div id="cardmanager" class="hidden fullpage">
            <div id="closecardmanager" class="clic">Fermer</div>
            <div class="centered">
                <div id="mycards"></div>
            </div>
        </div>
        <div id="duel">
            <div id="turn"></div>
            <div id="dueldesc"></div>
            <div id="hand"></div>
            <div id="scene"></div>
            <div id="sceneO"></div>
            <div id="positionner" class=""></div>
        </div>
        <div id="map" class="infobox">
            <input type="hidden" id="updatemap" value="{{ updatemap }}" data-x="{{user.X}}" data-y="{{user.Y}}">

            <div id="duelbg"></div>
            <div id="mapimage" data-folder="{{ images_folder }}">
                <img id="imagebg" class="hidden" src='' />
            </div>
            <div class="whitecontent">
                <h2 class='title'> ▱ 
                    <span id="nom" class="hidden" data-id="{{user.id}}">{{ user.username }}</span>

                    <span class="fade place">Monde</span>
                    (
                    <span id="x"><span class="value">{{user.x}}</span></span>,
                    <span id="y"><span class="value">{{user.y}}</span></span>
                    )

                </h2>

                <div class="desc">                        
                </div>
            </div>
            <div id='minimap'>
                
                <table id='minimaptable' class="mapStuff">                        
                </table>
                <div class="move mapStuff">
                    <table class='joystick' data-moving="0">
                        <tr>
                            <td></td>
                            <td> <button id="up" class='command' data-command='move' data-value='up'>⇧</button></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><button id="left" class='command' data-command='move' data-value='left'>⇦</button></td>                           
                            <td></td>
                            <td><button id="right" class='command' data-command='move' data-value='right'>⇨</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> <button id="down" class='command' data-command='move' data-value='down'>⇩</button></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="infobulle hidden infolieu">Vous avez le pouvoir de façonner ce lieu !</div>
                    <a href="#caca" class="fullload" id="edit-link" data-route="{{ path('edit_map') }}" data-idmap="{{map.id}}">editer le lieu</a>
                </div>
            </div>
        </div>  
    {% endif %}
{% endblock %}
{% block rightcol %}
    {% if user %}
        <div id="peoplehere" class="avatarshadow" data-folder="{{user_folder}}">

        </div>
        <div class="hidden duelstuff duelstats" id="ostats">
            <div class="life"></div>
            <div class="stats">  
                <div class="attack">
                    <h2>ATTACK</h2>
                    <div id="oakarma" class="karma ikar ic2"></div>
                    <div id="oasex" class="sex isex ic2"></div>
                    <div id="oasanity" class="sanity isan ic2"></div>
                </div>
                <div class="defense">
                    <h2>DEFENSE</h2>
                    <div id="odkarma" class="karma ikar ic2"></div>
                    <div id="odsex" class="sex isex ic2"></div>
                    <div id="odsanity" class="sanity isan ic2"></div>
                </div>
            </div>                            
        </div>
        <div class="hidden">
            <div id="people" class="">
                <h2>En ligne</h2>
                <div class="content"></div>
            </div>

            {% if user %}
                <div id="chat_container" class="">
                    <div id="chat">
                        {{ info|raw }}
                    </div>
                    <input type="text" id="inpute" />
                    <button id="chatte">send message</button>
                </div>                  
            {% endif %}





        </div>
    {% endif %}
{% endblock %}










