{% extends 'base.html.twig' %}

{% block centralcol %}
    <div id="loader" class="">
        <img id="loadingimage" src="{{ asset('images/loader.gif') }}" />
    </div>
    <div id="map">
        <div id="mapimageeditor" data-folder="{{ images_folder }}">
            <div id="source" data-source='{{ images_folder }}{{map.file}}?{{random(999)}}'></div>
            <div id="canvasDiv" style='width:820px;height:420px;'></div>       


            <button id="color" class="hidden">color</button>
        </div>
        <div class="whitecontent">
            <div class="instruction notice">

            </div>
            {{ form(mapForm) }}
            <a href="{{ path('homepage') }}" class="annuler fullload">ANNULER</a>
            <div class="desc">                        
            </div>

        </div>
        <div id="minimap" class="uploadstuff">
            <input type="file" id="upfile" class="hidden" value='telecharger une image du disque'/> 

            <div class="infobulledroite">Le saviez-tu ? Tu peux <b>copier-coller</b> une image directement sur la carte.
                <br/>
                <br/>
                Ou bien uploader :<br/>
                <div class="upload" id="upfiletrigger"></div>
                <br/>
                Ce curseur sert à modifier <br/><b>la sensibilité du filtre</b><br/>
                de clair à foncé
                <br/> 
                <input type='range' min="0" max="255" step="1"  data-orientation="horizontal" id="sensitivity" value="109" data-tr='255' data-tg='255' data-tb='255'/>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#appbundle_map_save').click(function () {
                $('#map').hide();
                $('#loader').show();
            });
        {% if has_edit %}
                window.parent.closeIframe();      
        {% endif %}
        });
    </script>




{% endblock %}